<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757084905257-eq6en8q98rdlmk2855n9fdjaodlnveu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757084905257-eq6en8q98rdlmk2855n9fdjaodlnveu2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757084905257-qqi83pk6cbsnh0epcaecomq78en4f1kh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmst-QAKOMLb8W8oedAF0KC-tWeK4O2vY</string>
	<key>GCM_SENDER_ID</key>
	<string>757084905257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BinoyedSA.Capsula</string>
	<key>PROJECT_ID</key>
	<string>capsula-1577137901067</string>
	<key>STORAGE_BUCKET</key>
	<string>capsula-1577137901067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:757084905257:ios:5abdf457f7db578c6ca138</string>
	<key>DATABASE_URL</key>
	<string>https://capsula-1577137901067.firebaseio.com</string>
</dict>
</plist>
